.container {
    width: 440px;
    margin: 50px auto;
  }
  
  .container a {
    background-color: #5740A0;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 320px;
    }
  }