html,
body {
  padding: 0;
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #040307;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: aliceblue;
  text-decoration: none;
}